version: '3'
services:
    flaskapp:
        build: .
        ports:
            - "8000:8000"
        volumes:
            - .:/app
            - ./app/main/database:/app/main/database
        depends_on:
            - sqlite3
        environment:
          - FLASK_APP=${FLASK_APP}
          - FLASK_ENV=${FLASK_ENV}
          - APP_SETTINGS_MODULE=${APP_SETTINGS_MODULE}
          - DATABASE_URL=${DATABASE_URL}
          - GITHUB_API_URL=${GITHUB_API_URL}

    sqlite3:
      container_name: sqlite3_container
      image: nouchka/sqlite3:latest
      stdin_open: true
      tty: true
      volumes:
        - ./app/main/database:/root/db/
      ports:
        - '9000:9000' # expose ports - HOST:CONTAINER
      restart: unless-stopped
